<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Service Bus Name</key>
	<string>dorfbus</string>
	<key>Service Queue Name</key>
	<string>dorfqueue</string>
	<key>Azure Username</key>
	<string>owner</string>
	<key>Azure Password</key>
	<string>PEZ83uOOFeRy9HT7LR1sjEbqeg1pim0o0bZ7wWxgSIM=</string>
</dict>
</plist>
